/* Run */
form#run input[name=limit] {
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: black;

    font-size: inherit;
    font-family: inherit;

    text-align: center;
}


/* Add / edit */
fieldset.type {
    display: none;
    border: none;
}

span.aside {
    color: #666;
    font-style: italic;
}

/* Logs */
table.logs th.time {
    width: 12em;
}

table.logs th.level {
    width: 4em;
}

table.logs th.message { }

